.song-date {
    position: absolute;
    border: 1px solid $light-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    background-color: $white-color;

    &-main {
        width: 274px;
    }

    &-header {
        position: relative;
        padding: $pd10;
        line-height: 30px;
        text-align: center;
        border-bottom: 1px solid $light-color;
        overflow: hidden;
        *zoom: 1;
        user-select: none;

        &-left {
            position: absolute;
            top: $pd10;
            left: $pd10;
        }

        &-center {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }

        &-year,
        &-month,
        &-year-range {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: 0 $pd10;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }

        &-right {
            position: absolute;
            top: $pd10;
            right: $pd10;
        }

        .song-icon {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: 0 5px;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }
    }

    &-content {
        padding: $pd10;
        overflow: hidden;
        *zoom: 1;
        user-select: none;
    }

    &-date {
        border-spacing: 0;
        border-collapse: collapse;

        th,
        td {
            width: 26px;
            height: 20px;
            _width: 36px;
            _height: 30px;
            line-height: 20px;
            padding: 5px;
            text-align: center;
            color: $color-666;
        }

        th {
            font-weight: 400;
            color: $color-333;
        }

        td {
            cursor: pointer;

            &:hover {
                background-color: $light-color;
            }
        }

        .song-date-prev-month,
        .song-date-next-month {
            color: $gray-color;

            &:hover {
                color: $color-666;
            }
        }
    }

    &-active {
        color: $white-color !important;
        background-color: $success-color;

        &:hover {
            background-color: $success-color !important;
        }
    }

    &-footer {
        position: relative;
        line-height: 24px;
        padding: $pd10;
        border-top: 1px solid $light-color;
        font-size: 12px;
        user-select: none;

        &-right {
            position: absolute;
            top: $pd10;
            right: $pd10;
        }
    }

    &-btn {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 0 $pd10;
        margin-left: -1px;
        _margin-left: 0;
        border: 1px solid $light-color;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $link-color;
        }
    }

    &-time {
        li {
            width: 84px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
        }

        ul {
            font-size: 0;
            white-space: nowrap;
        }

        ul li {
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }

        ol {
            height: 178px;
            _height: 180px;
            overflow: hidden;
            *overflow-y: auto;
            border: 1px solid $light-color;

            &:hover {
                overflow-y: auto;
            }
        }

        ol li {
            display: block;
            _width: 65px;
            cursor: pointer;
        }

        .song-date-time-minute {
            border-left: 0;
            border-right: 0;
        }
    }

    &-year,
    &-month {
        li {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 84px;
            line-height: 36px;
            margin: 3px 0;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $light-color;
            }
        }
    }

    &-month {
        li {
            margin: 17px 0;
        }
    }
}