.song-date {
    position: absolute;
    border: 1px solid $light-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    background-color: $white-color;
    font-size: 14px;

    &-static {
        position: relative;
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

    &-main {
        width: 274px;
    }

    &-header {
        position: relative;
        padding: $pd10;
        line-height: 30px;
        text-align: center;
        border-bottom: 1px solid $light-color;
        overflow: hidden;
        *zoom: 1;
        user-select: none;

        &-left {
            position: absolute;
            top: $pd10;
            left: $pd10;
        }

        &-center {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            cursor: pointer;
        }

        &-year,
        &-month {
            padding: 0 $pd10;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }

        &-right {
            position: absolute;
            top: $pd10;
            right: $pd10;
        }

        .song-icon {
            padding: 0 5px;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }
    }

    &-content {
        padding: $pd10;
        overflow: hidden;
        *zoom: 1;
        user-select: none;
    }

    &-date {
        display: none;
        border-spacing: 0;
        border-collapse: collapse;

        th,
        td {
            width: 26px;
            height: 20px;
            _width: 36px;
            _height: 30px;
            line-height: 20px;
            padding: 5px;
            text-align: center;
            color: $color-666;
        }

        th {
            font-weight: 400;
            color: $color-333;
        }

        td {
            cursor: pointer;

            &:hover {
                background-color: $light-color;
            }
        }

        .song-date-prev-month,
        .song-date-next-month {
            color: $gray-color;

            &:hover {
                color: $color-666;
            }
        }
    }

    &-active {
        color: $white-color !important;
        background-color: $success-color;

        &:hover {
            background-color: $success-color !important;
        }
    }

    &-footer,
    &-range-footer {
        position: relative;
        line-height: 24px;
        padding: $pd10;
        border-top: 1px solid $light-color;
        font-size: 12px;
        user-select: none;

        &-right {
            position: absolute;
            top: $pd10;
            right: $pd10;
        }
    }

    &-result,
    &-range-result {
        vertical-align: middle;
    }

    &-btn {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 0 $pd10;
        margin-left: -1px;
        _margin-left: 0;
        border: 1px solid $light-color;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $link-color;
        }

        &-disabled {
            color: $gray-color;
            cursor: not-allowed;
        }
    }

    &-child {
        margin-right: $pd10;
    }

    &-time {
        display: none;

        li {
            width: 84px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
        }

        ul {
            font-size: 0;
            white-space: nowrap;
        }

        ul li {
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }

        ol {
            height: 178px;
            _height: 180px;
            overflow: hidden;
            *overflow-y: auto;
            border: 1px solid $light-color;

            &:hover {
                overflow-y: auto;
            }
        }

        ol li {
            display: block;
            _width: 65px;
            cursor: pointer;
        }

        .song-date-time-minute {
            border-left: 0;
            border-right: 0;
        }
    }

    &-year,
    &-month {
        display: none;

        li {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 84px;
            line-height: 36px;
            margin: 3px 0;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $light-color;
            }
        }
    }

    &-month {
        li {
            width: 63px;
            margin: 17px 0;
        }
    }

    &-header {

        &-year,
        &-month,
        &-year-range,
        &-time-label,
        &-month-label {
            display: none;
        }

    }

    &-prev-year-btn,
    &-prev-month-btn,
    &-next-year-btn,
    &-next-month-btn {
        display: none;
    }

    &-show-year {
        .song-date {
            &-year {
                display: block;
            }

            &-header-year-range,
            &-prev-year-btn,
            &-next-year-btn {
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
        }
    }

    &-show-year-month {
        .song-date {
            &-month {
                display: block;
            }

            &-header-year,
            &-prev-year-btn,
            &-next-year-btn {
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
        }
    }

    &-show-month {
        .song-date {
            &-month {
                display: block;
            }

            &-header-month-label {
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
        }
    }

    &-show-date {
        .song-date {
            &-date {
                display: block;
            }

            &-header-year,
            &-header-month,
            &-prev-year-btn,
            &-prev-month-btn,
            &-next-year-btn,
            &-next-month-btn {
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
        }
    }

    &-show-time {
        .song-date {
            &-time {
                display: block;
            }

            &-header-time-label {
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
        }
    }

    &-range {
        position: absolute;
        width: 274px * 2 + 1px;
        _width: 274px * 2 + 2px;
        border: 1px solid $light-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
        background-color: $white-color;
        font-size: 0;

        .song-date {
            box-shadow: none;
            border: 0;

            .song-date-footer {
                display: none;
            }

            &:first-child {
                border-right: 1px solid $light-color;
            }
        }
    }

    &-tip {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 24px;
        padding: 10px 20px;
        font-size: 12px;
        color: $white-color;
        background-color: rgba(0, 0, 0, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#000000\\0/'};
        *background-color: #000000;
    }
}