.song-layer-shadow {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    // ie6，ie7，ie8不支持opacity
    filter: #{'alpha(opacity: 40)'};

    &.song-layer-absolute {
        position: absolute;
    }
}

.song-layer {
    position: fixed;
    // ie6不支持fixed
    _position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: $white-color;
    border: 1px solid $light-color;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);

    &.song-layer-absolute {
        position: absolute;
    }

    &.song-layer-alert {
        width: 300px;
    }

    &.song-layer-confirm {
        width: 300px;
    }

    &.song-layer-msg {
        color: $white-color;
        background-color: rgba(0, 0, 0, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#000000\\0/'};
        *background-color: #000000;
        border-style: none;
        box-shadow: none;
    }

    &.song-layer-msg-with-icon {
        border: 1px solid $gray-color;
        box-shadow: none;
    }

    .song-layer-title {
        position: relative;
        // ie6以下不能用height是定义song-layer-title的高度，否则将触发haslayout是元素具有一个最小的宽度（50%）
        line-height: 16px;
        padding: 17px 95px 17px 20px;
        font-size: 16px;
        color: $title-color;
        background-color: $lighter-color;
        border-bottom: 1px solid $light-color;
    }

    .song-layer-content {
        position: relative;
        line-height: 24px;
        padding: $pd20;
        overflow: auto;
    }

    &.song-layer-msg .song-layer-content {
        padding: $pd10 $pd20;
    }

    &.song-layer-msg .song-layer-icon {
        top: 6px;
    }

    .song-layer-footer {
        padding: $pd10 $pd20 $pd10 0;
        text-align: center;

        .song-btn {
            margin-left: $pd20;
        }
    }

    .song-layer-op {
        position: absolute;
        right: 0px;
        top: 16px;
        white-space: nowrap;

        i {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            margin-right: $pd15;
            color: $title-color;
            cursor: pointer;

            &:hover {
                color: $holder-color;
            }
        }
    }

    .song-layer-icon {
        position: absolute;
        top: 16px;
        left: 15px;
        // ie6绝对定位不包括padding-left
        _left: -40px;
        line-height: 30px;
        font-family: 'iconfont';
        font-size: 30px;
    }
}