.jy-layer-shadow {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    // ie6，ie7，ie8不支持opacity
    filter: #{'alpha(opacity: 40)'};

    &.jy-layer-absolute {
        position: absolute;
    }
}

.jy-layer {
    position: fixed;
    // ie6不支持fixed
    // ie6及以下浏览器中，绝对定位元素中的布局和普通元素中布局一致
    _position: absolute;
    top: 0;
    left: 0;
    background-color: $white-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    // overflow: hidden;
    box-sizing: content-box;

    * {
        box-sizing: content-box;
    }

    &-absolute {
        position: absolute;
    }

    &-alert {
        width: 300px;
    }

    &-confirm {
        width: 300px;
    }

    &-msg {
        white-space: nowrap;
        color: $white-color;
        background-color: rgba(0, 0, 0, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#000000\\0/'};
        *background-color: #000000;
        // ie7中，border-style:none后，border宽度会计入clientWidth
        // border-style: none;
        border-color: transparent;
        box-shadow: none;

        .jy-layer-content {
            padding: $pd10 $pd20;
        }

        .jy-layer-icon {
            top: 6px;
        }
    }

    &-msg-with-icon {
        white-space: nowrap;
        border: 1px solid $gray-color;
        box-shadow: none;
    }

    &-loading {
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: center;

        .jy-layer-content {
            line-height: 36px;
            overflow: visible;
            animation-name: jy-layer-keyframes-rotate;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite
        }

        .jy-layer-loading-icon {
            font-size: 36px;
        }
    }


    &-loading-text {
        margin-top: $pd15;
    }

    &-title {
        position: relative;
        // ie6及以下不能用height是定义jy-layer-title的高度，否则将触发haslayout使元素撑开父容器
        line-height: 16px;
        padding: 17px 95px 17px 20px;
        font-size: 16px;
        color: $color-333;
        background-color: $lighter-color;
        border-bottom: 1px solid $border-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }

    &-content {
        position: relative;
        line-height: 24px;
        padding: 10px;
        overflow: auto;
        // ie6及以下，子元素触发haslayout后，父元素将被撑开
        // & * {
        //     _display: inline;
        //     _zoom: 1;
        // }
    }

    &-footer {
        padding: $pd10 $pd20 $pd10 0;
        text-align: center;
        white-space: nowrap;

        .jy-btn {
            margin-left: $pd20;
        }
    }

    &-op {
        position: absolute;
        right: $pd10;
        top: 16px;
        white-space: nowrap;

        i {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            margin-right: 5px;
            color: $color-333;
            cursor: pointer;

            &:hover {
                color: $color-999;
            }
        }
    }

    &-icon {
        position: absolute;
        top: 16px;
        left: 15px;
        line-height: 30px;
        font-family: 'iconfont';
        font-size: 30px;
    }

    &-animation-stretch {
        animation-name: jy-layer-keyframes-stretch;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    &-animation-fade-out {
        animation-name: jy-layer-keyframes-fade-out;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    &-animation-fade-in {
        animation-name: jy-layer-keyframes-fade-in;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes jy-layer-keyframes-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes jy-layer-keyframes-stretch {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes jy-layer-keyframes-fade-out {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(0.5);
    }
}

@keyframes jy-layer-keyframes-fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}