.song-layer-shadow {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    // ie6，ie7，ie8不支持opacity
    filter: #{'alpha(opacity: 40)'};

    &.song-layer-absolute {
        position: absolute;
    }
}

.song-layer {
    position: fixed;
    // ie6不支持fixed
    // ie6及以下浏览器中，绝对定位元素中的布局和普通元素中布局一致
    _position: absolute;
    top: 0;
    left: 0;
    background-color: $white-color;
    border: 1px solid $light-color;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    overflow: hidden;

    &.song-layer-absolute {
        position: absolute;
    }

    &.song-layer-alert {
        width: 300px;
    }

    &.song-layer-confirm {
        width: 300px;
    }

    &.song-layer-msg {
        color: $white-color;
        background-color: rgba(0, 0, 0, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#000000\\0/'};
        *background-color: #000000;
        // ie7中，border-style:none后，border宽度会计入clientWidth
        // border-style: none;
        border-color: transparent;
        box-shadow: none;
    }

    &.song-layer-msg-with-icon {
        border: 1px solid $gray-color;
        box-shadow: none;
    }

    .song-layer-title {
        position: relative;
        // ie6及以下不能用height是定义song-layer-title的高度，否则将触发haslayout使元素撑开父容器
        line-height: 16px;
        padding: 17px 95px 17px 20px;
        font-size: 16px;
        color: $color-333;
        background-color: $lighter-color;
        border-bottom: 1px solid $light-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }

    .song-layer-content {
        position: relative;
        line-height: 24px;
        padding: $pd20;
        overflow: auto;
        // ie6及以下，子元素触发haslayout后，父元素将被撑开
        // & * {
        //     _display: inline;
        //     _zoom: 1;
        // }
    }

    &.song-layer-msg .song-layer-content {
        padding: $pd10 $pd20;
    }

    &.song-layer-msg .song-layer-icon {
        top: 6px;
    }

    .song-layer-footer {
        padding: $pd10 $pd20 $pd10 0;
        text-align: center;
        white-space: nowrap;

        .song-btn {
            margin-left: $pd20;
        }
    }

    .song-layer-op {
        position: absolute;
        right: $pd10;
        top: 16px;
        white-space: nowrap;

        i {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            margin-right: 5px;
            color: $color-333;
            cursor: pointer;

            &:hover {
                color: $color-999;
            }
        }
    }

    .song-layer-icon {
        position: absolute;
        top: 16px;
        left: 15px;
        line-height: 30px;
        font-family: 'iconfont';
        font-size: 30px;
    }
}