// 按钮
.song-btn {
    display: inline-block;
    height: $btn-height - 2px;
    line-height: $btn-height - 2px;
    padding: 0 $pd15;
    background-color: $success-color;
    border: 1px solid $success-color;
    border-radius: 2px;
    font-size: $btn-font-size;
    color: $white-color;
    vertical-align: middle;
    cursor: pointer;
    width: auto;
    // 解决ie7按钮变宽的bug
    overflow: visible;

    &:hover {
        opacity: 0.85;
    }

    &:active {
        opacity: 1;
    }

    $list: (lg, $btn-lg-height, $btn-lg-font-size),
    (sm, $btn-sm-height, $btn-sm-font-size),
    (xs, $btn-xs-height, $btn-xs-font-size);

    @each $size,
    $height,
    $font in $list {
        &-#{$size} {
            height: $height;
            line-height: $height - 2px;
            font-size: $font;
        }
    }

    $list: (primary, $white-color, $gray-color, $color-666),
    (normal, $blue-color, $blue-color, $white-color),
    (success, $success-color, $success-color, $white-color),
    (warn, $warn-color, $warn-color, $white-color),
    (disabled, $white-color, $light-color, $disabled-color),
    (danger, $danger-color, $danger-color, $white-color);

    @each $i,
    $bgColor,
    $brColor,
    $textColor in $list {
        &-#{$i} {
            background-color: $bgColor;
            border-color: $brColor;
            color: $textColor;
        }

        @if $i==primary {
            &-#{$i}:hover {
                border-color: $success-color;
            }
        }

        @if $i==disabled {
            &-#{$i}:hover {
                opacity: 1;
                cursor: not-allowed;
            }
        }
    }
}

// 表单项
.song-form-item {
    clear: both;
    margin-bottom: $pd15;
    // ie7及以下不支持before，after，用zoom触发haslayout清除内部浮动
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }

}

// 表单项label
.song-form-label {
    float: left;
    width: 80px;
    margin: 0 $pd15;
    padding: 9px 0;
    line-height: 20px;
    color: $color-333;
    text-align: right;
}

// 块级包裹
.song-input-block {
    margin-left: 110px;
    // 在ie6，ie7中，zoom:1触发了BFC
    *margin-left: 0;
    *zoom: 1;
}

// 内联包裹
.song-input-inline {
    float: left;
    width: 190px;
}

// 内联组合包裹
.song-inline {
    display: inline-block;
    // ie6、ie7下inline-block只是触发layout，使元素可以设置宽高等属性，block元素还是会占一行
    *display: inline;
    *zoom: 1;
    margin-right: $pd10;
}

// 输入框
.song-input {
    display: block;
    width: 100%;
    height: $input-height;
    *height: $input-height - 2px !important;
    _height: $input-height;
    line-height: $input-height - 2px;
    padding: 0 0 0 $pd15;
    border: 1px solid $light-color;
    border-radius: 2px;
    outline: none;
    // ie6默认是border-box，ie7默认是content-box，ie6、ie7都不支持box-siziong
    box-sizing: border-box;
    // ie6能识别下划线_，ie6、ie7能识别*，ie7能识别!important，ie6不能识别
    *padding-left: 0 !important;
    _padding-left: $pd15;
    // 解决ie7及以下1px外边距问题
    *vertical-align: middle;
}

// 文本域
.song-textarea {
    display: block;
    width: 100%;
    height: auto;
    line-height: 20px;
    min-height: 100px;
    _height: 100px;
    padding: 6px 10px;
    *padding: 0 !important;
    _padding: 6px 10px;
    resize: vertical;
    border: 1px solid $light-color;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
}

// 开关
.song-form-switch {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    line-height: 22px;
    margin-top: 8px;
    padding-right: 5px;
    padding-left: 25px;
    border: 1px solid $gray-color;
    border-radius: 22px;
    font-size: 12px;
    color: $gray-color;
    text-align: right;
    cursor: pointer;
    user-select: none;

    i {
        position: absolute;
        top: 3px;
        left: 5px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $gray-color;
        transition: all 0.1s;
    }

    // ie6多类选择器是或的关系，不是与的关系，song-disabled这种类名容易被其他样式覆盖
    &.song-switch-disabled {
        border-color: $light-color;
        color: $disabled-color;
        cursor: not-allowed;

        i {
            background-color: $light-color;
        }
    }

    &.song-switch-checked {
        padding-left: 5px;
        padding-right: 25px;
        background-color: $link-color;
        border-color: $light-color;
        color: $white-color;
        text-align: left;

        i {
            left: 100%;
            margin-left: -21px;
            background-color: $white-color;
        }
    }
}

// 多选框
.song-form-checkbox {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 18px;
    margin-top: 10px;
    margin-right: $pd15;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;

    .song-checkbox-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid $gray-color;
        border-radius: 2px;
        text-align: center;
        line-height: 16px;
        font-family: 'iconfont';
        font-size: 14px;
        color: $white-color;

        i {
            display: none;
        }
    }

    &.song-checkbox-disabled {
        color: $disabled-color;
        cursor: not-allowed;

        i {
            border-color: $light-color;
        }
    }

    &.song-checkbox-checked {
        .song-checkbox-icon {
            background-color: $link-color;
            border-color: $link-color;

            i {
                display: inline;
            }
        }
    }
}

// 单选框
.song-form-radio {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 22px;
    margin-top: 10px;
    margin-right: $pd15;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;

    .song-radio-icon-checked,
    .song-radio-icon-uncheck {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'iconfont';
        font-size: 22px;
        color: $gray-color;
    }

    .song-radio-icon-checked {
        display: none;
        color: $link-color;
    }

    &.song-radio-disabled {
        color: $disabled-color;
        cursor: not-allowed;

        .song-radio-icon-checked,
        .song-radio-icon-uncheck {
            color: $light-color;
        }
    }

    &.song-radio-checked {
        .song-radio-icon-checked {
            display: block;
        }

        .song-radio-icon-uncheck {
            display: none;
        }
    }
}

// 选择框
.song-form-select {
    position: relative;
    width: 100%;
    *zoom: 1;

    &.song-form-select-open {
        z-index: 99;
    }

    &.song-select-disabled {
        .song-select-title {
            .song-input {
                cursor: not-allowed;
                color: $disabled-color;
            }
        }
    }

    .song-select-title {
        position: relative;

        .song-input {
            cursor: pointer;
        }

        i {
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -6px;
            font-size: 12px;
            line-height: 12px;
            font-family: 'iconfont';
            cursor: pointer;
        }
    }

    .song-select-dl {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        margin-top: 4px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
        box-sizing: border-box;

        dd {
            line-height: 36px;
            padding-left: $pd15;
            cursor: pointer;

            &:hover {
                background-color: $light-color;
            }

            &.song-select-active {
                background-color: $link-color;
                color: $white-color;
            }
        }
    }
}

// 字段集区块
.song-field {
    padding: 0;
    border: 1px solid $light-color;

    &.song-field-title {
        border-style: none;
        border-top-style: solid;
    }

    legend {
        margin-left: $pd15;
        font-size: 20px;
        font-weight: 300;
        color: $color-333;
    }

    .song-field-box {
        padding: $pd15;
    }
}