html,
body {
    width: 100%;
    height: 100%;
    overflow: auto; //ie6下，iframe中的页面body必须加个overflow:auto，或者hidden，body会默认有个看不见的垂直滚动条
}

.jy-header {
    position: relative;
    height: 60px;
    z-index: 3;
    background-color: #fff;
    *zoom: 1;

    .logo {
        float: left;
        height: 100%;
        width: 160px;
        _width: 200px;
        padding: 0 20px;
        background-color: $success-color;
        line-height: 60px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    .jy-header-right {
        position: absolute;
        left: 200px;
        right: 0;
        height: 100%;
        line-height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        *zoom: 1;
    }
}

.jy-side-menu {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: hidden;
    border-top: 1px solid #393D49;
    background-color: #393D49;

    .jy-side-scroll {
        position: relative;
        width: 220px;
        height: 100%;
        overflow-y: auto;
    }

    .jy-menu-nav {
        width: 200px;
        padding: 0;
    }
}

.jy-frame-container {
    position: absolute;
    top: 60px;
    left: 200px;
    right: 0;
    bottom: 0;

    .jy-tab {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 0;
            border: 0;
        }

        .jy-tab-header {
            position: relative;
            z-index: 1;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        }

        .jy-tab-content {
            position: absolute;
            top: 40px;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: #f1f2f7;
            box-sizing: border-box;
        }

        .jy-tab-item {
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }
}

.jy-content {
    position: relative;
    padding: 10px;
    background: #fff;
    *zoom: 1;

    .jy-content-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: #fff;
        border-bottom: 1px solid #eeeeee;
        *zoom: 1;

        &:before,
        &:after {
            content: "";
            display: block;
            clear: both;
        }

        // ie7及以上浏览器支持
        &+* {
            margin-top: 50px;
        }
    }

    .jy-content-title {
        float: left;
        margin-left: 15px;
        font-size: 18px;
        font-weight: bold;
    }

    .jy-content-btns {
        float: right;
        margin-right: 15px;
    }
}