@font-face {
    font-family: 'jy-iconfont';
    /* Project id 2505561 */
    src: url('./font/iconfont.eot');
    /* IE9 */
    src: url('./font/iconfont.eot#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./font/iconfont.woff2') format('woff2'),
        url('./font/iconfont.woff') format('woff'),
        url('./font/iconfont.ttf') format('truetype');
}

.jy-icon {
    font-family: "jy-iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.jy-icon {
    &.jy-icon-search {
        &:before {
            content: "\e642";
        }
    }
}