.jy-menu {
    $bgColor: #ffffff;
    $hoverBgColor: $hover-background-color;
    $checkedBgColor: $link-color;
    $textColor: #666666;
    $activeColor: #ffffff;
    $barColor: $link-color;

    position: relative;
    height: auto;
    padding: 5px 0;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $bgColor;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    *zoom: 1;

    // ie8不支持::的模式
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    ul {
        background-color: $bgColor;
    }

    li {
        position: relative;
        line-height: 36px;
        color: $textColor;
        cursor: pointer;
        user-select: none;

        &.jy-menu-border {
            *zoom: 1;
            height: 0;
            line-height: 0;
            margin: 5px 0;
            font-size: 0;
            border-top: 1px solid $border-color;
        }
    }

    a {
        position: relative;
        display: block;
        padding-left: 20px;
        padding-right: 35px;
        color: $textColor;
        white-space: nowrap;
    }

    & &-hover {
        background-color: $hoverBgColor;
    }

    & &-checked {
        color: $activeColor;
        background-color: $checkedBgColor;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 4px;
            height: 100%;
            background-color: $barColor;
        }
    }

    & &-checked-parent {
        color: $barColor;
    }

    &-absolute {
        position: absolute;
    }

    &-hover-right,
    &-hover-down {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        margin-top: 5px;
        padding: 5px 0;
        border: 1px solid $border-color;
        border-radius: 2px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }

    &-hover-right {
        top: 0;
        left: 100%;
        margin-top: -5px;
        margin-left: 5px;
    }

    &-ie-hack {

        li {
            *zoom: 1
        }
    }

    &-icon {
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        right: 15px;
    }

    &-down-icon,
    &-up-icon,
    &-right-icon {
        display: none;
        position: absolute;
        top: 0;
        user-select: none;
    }

    &-right-icon,
    &-down-icon {
        display: block;
    }

    &-animation-hover-right {
        animation-name: jy-menu-keyframes-hover-right;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    &-animation-hover-down {
        animation-name: jy-menu-keyframes-hover-down;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}


.jy-menu-nav {
    $bgColor: #393D49;
    $ulBgColor: #1c2334;
    $hoverBgColor: transparent;
    $checkedBgColor: $success-color;
    $textColor: $gray-color;
    $activeColor: #ffffff;
    $barColor: $link-color;
    $hChildBgColor: #ffffff;
    $hChildhoverBgColor: $hover-background-color;
    $hChildTextColor: #666666;
    $hChildActiveColor: #666666;

    border: 0;
    background-color: $bgColor;
    box-shadow: none;

    ul {
        background-color: $ulBgColor;
    }

    li {
        line-height: 50px;
        color: $textColor;
    }

    a {
        color: $textColor;
    }

    .jy-menu-hover {
        color: $activeColor;
        background-color: $hoverBgColor;
    }

    .jy-menu-checked {
        color: $activeColor;
        background-color: $checkedBgColor;

        &:after {
            display: none;
        }
    }

    .jy-menu-checked-parent {
        color: $textColor;
    }

    // 纵向导航条的右侧菜单
    .jy-menu-hover-right,
    .jy-menu-hover-down {
        border: 0;
        box-shadow: none;
    }

    &-horizontal {
        height: 60px;
        padding: 0;

        li {
            float: left;
            line-height: 60px;
        }

        a {
            padding: 0 20px;
        }

        .jy-menu-checked {
            background-color: transparent;

            &:after {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $barColor;
            }
        }

        .jy-menu-checked-parent {
            color: $activeColor;
        }

        .jy-menu-icon {
            right: 4px;
        }

        // 水平导航条的下拉菜单
        .jy-menu-hover-right,
        .jy-menu-hover-down {
            background-color: $hChildBgColor;
            border: 1px solid $border-color;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);

            li {
                line-height: 36px;
                float: none;

                .jy-menu-hover {
                    color: $hChildActiveColor;
                    background-color: $hChildhoverBgColor;
                }

                .jy-menu-checked-parent {
                    color: $hChildActiveColor;
                }
            }

            a {
                padding-right: 35px;
                color: $hChildTextColor;
            }

            .jy-menu-icon {
                right: 15px;
            }
        }
    }
}

@keyframes jy-menu-keyframes-hover-right {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes jy-menu-keyframes-hover-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}