.song-menu {
    position: absolute;
    padding: 5px 0;
    border: 1px solid $light-color;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    background-color: #fff;

    &-static {
        position: relative;
    }

    &-item {
        position: relative;
        padding-left: $pd15;
        color: #666666;
        cursor: pointer;
        // 在ie7及以下浏览器中，开启haslayout后，item将不能随着父容器的伸展而伸展，除非固定父容器宽度
        *zoom: 1;

        &:hover {
            background-color: $lighter-color;
        }
    }

    &-checked {
        color: $link-color;
        background-color: $lighter-color;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 36px;
            background-color: $link-color;
        }
    }

    &-group {
        background-color: transparent;

        &:after {
            display: none;
        }

        &:hover {
            background-color: transparent;
        }
    }

    &-right {

        &:hover {
            background-color: $lighter-color;
        }
    }

    &-ul {
        *zoom: 1;

        &-right {
            position: absolute;
            top: -6px;
            left: 100%;
            margin-left: 10px;
            padding: 5px 0;
            border: 1px solid $light-color;
            border-radius: 2px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
            background-color: #fff;
        }
    }


    &-border {
        margin: 5px 0;
        border-top: 1px solid $light-color;
    }

    &-item-title {
        position: relative;
        line-height: 36px;
        padding-right: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        *zoom: 1;

        .song-menu-icon {
            display: none;
            position: absolute;
            top: 0;
            right: 10px;
            user-select: none;
        }

        .song-menu-down-icon,
        .song-menu-right-icon {
            display: block;
        }
    }

    &-icon {
        font-family: "iconfont" !important;
        font-size: 16px;
        font-style: normal;
    }
}