@mixin jy-pager($height: 30px) {
    line-height: $height;

    .jy-pager-count {
        float: left;
        margin-left: $pd10;
    }

    .jy-pager-prev {
        margin-left: $pd10;
        font-family: 'iconfont';
    }

    .jy-pager-next {
        font-family: 'iconfont';
    }

    .jy-pager-prev,
    .jy-pager-next,
    .jy-pager-num,
    .jy-pager-limits {
        float: left;
        padding: 0 $height/2;
        border: 1px solid $border-color;
        user-select: none;

    }

    .jy-pager-prev,
    .jy-pager-next,
    .jy-pager-num {
        &:hover {
            color: $link-color;
        }

    }

    .jy-pager-dot {
        float: left;
        padding: 0 $height/2;
        border: 1px solid $border-color;
        user-select: none;
        cursor: default;
    }

    .jy-pager-prev-disabled,
    .jy-pager-next-disabled {
        color: $gray-color !important;
        cursor: not-allowed;
    }

    .jy-pager-prev,
    .jy-pager-num,
    .jy-pager-dot {
        border-right: none;
    }

    .jy-pager-now {
        color: $white-color !important;
        background-color: $success-color;
        border-color: $success-color;
    }

    .jy-pager-limits {
        height: $height;
        height: #{'auto\\0/'};
        *height: auto;
        padding: 0;
        margin-top: ($height - 20px)/2#{'\\0/'};
        *margin-top: ($height - 20px)/2;
        margin-left: $pd10;
        font-size: 14px;
        outline: none;
        vertical-align: middle;
        box-sizing: content-box;
    }

    .jy-pager-nums {
        float: left;
    }

    .jy-pager-jump {
        float: left;
        margin-left: $pd10;
        color: $color-999;
        white-space: nowrap;

        input {
            width: $height;
            _width: 50px;
            height: $height;
            _height: $height + 2px;
            line-height: $height;
            padding: 0 $pd10;
            border: 1px solid $border-color;
            vertical-align: middle;
            outline: none;
            box-sizing: content-box;
        }

        button {
            width: 40px;
            height: $height;
            _height: $height + 2px;
            padding: 0;
            margin-left: $pd10;
            background-color: $white-color;
            border: 1px solid $border-color;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: content-box;
        }
    }
}

.jy-pager {
    @include jy-pager;
}

.jy-pager-small {
    @include jy-pager(26px);
}