* {
    zoom: 1;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $text-color;
}

ul,
dl,
dd,
p {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none !important;
}

i {
    font-style: normal;
}

// ie6不支持属性选择器
input[type="checkbox"],
input[type="radio"],
select {
    display: none;
}