.song-table {
    position: relative;
    // ie7及以下table-layout:fixed将使table宽度伸展为100%
    // table-layout: fixed;
    border-collapse: collapse;
    // border-spacing: 0;
    background-color: $white-color;
    color: $color-666;

    &-view {
        position: relative;
        width: 100%;
        border: 1px solid $light-color;
        background-color: $white-color;
    }

    &-header {
        position: relative;
        width: 100%;
        min-width: 100%;
        overflow: hidden;

        .song-table {

            td,
            th {
                border-top: none;
                border-bottom: none;
            }
        }
    }

    &-main {
        // ie7必须加position:relative，否则滚动条拖到无效
        position: relative;
        width: 100%;
        overflow: auto;
    }

    &-toolbar {
        position: relative;
        z-index: 1;
        padding: $pd10 $pd15;
        padding-right: 130px;
        border-bottom: 1px solid $light-color;
        background-color: $white-color;
    }

    &-tool-self {
        position: absolute;
        right: $pd15;
        top: 50%;
        margin-top: -13px;
    }

    &-tool {
        position: relative;
        padding: 4px;
        margin-left: $pd10;
        border: 1px solid $gray-color;
        cursor: pointer;
        user-select: none;

        &:hover {
            border-color: $color-999;
        }
    }

    &-exports,
    &-filter {
        position: absolute;
        right: -1px;
        top: 100%;
        margin-top: 5px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 2px;
        white-space: nowrap;
        font-size: 14px;

        li {
            padding: $pd10 $pd15;

            &:hover {
                background-color: $lighter-color;
            }

            .song-form-checkbox {
                margin: 0;
            }
        }
    }

    &-pager {
        // text-align: center;
        border-top: 1px solid $light-color;

        .song-pager {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: $pd10 0;

            .song-pager-num,
            .song-pager-dot,
            .song-pager-prev,
            .song-pager-next {
                border: none;
            }

            .song-pager-dot {
                padding: 0;
            }
        }
    }

    &-hover {
        background-color: $lighter-color;
    }

    &-tip {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 22px;
        padding: 9px $pd15 9px $pd15;
        margin-right: 13px;
        background-color: $white-color;
        border: 1px solid $light-color;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);

        &-close {
            position: absolute;
            right: -13px;
            top: -13px;
            width: 26px;
            height: 26px;
            line-height: 26px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            // 只兼容ie8的样式，在属性值后面加\0/
            background-color: #{'#000000\\0/'};
            *background-color: #000000;
            font-family: 'iconfont';
            color: $white-color;
            text-align: center;
            cursor: pointer;
        }
    }

    &-fixed-l {
        position: absolute;
        left: 0;
        top: 0;
        border-top: 1px solid $light-color;
        box-shadow: 1px 0 8px rgba(0, 0, 0, .08);
    }

    &-fixed-r {
        position: absolute;
        top: 0;
        border-top: 1px solid $light-color;
        box-shadow: -1px 0 8px rgba(0, 0, 0, .08);

        .song-table-mend {
            margin-right: -17px;
        }
    }

    &-fixed-header {
        position: relative;
        *zoom: 1;

        .song-table {

            td,
            th {
                border-top: none;
                border-bottom: none;
            }
        }
    }

    &-fixed-main {
        position: relative;
        border-bottom: 1px solid $light-color;
        overflow: hidden;
    }

    &-mend {
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 100%;
        background-color: $lighter-color;
    }

    &-confirm {
        position: absolute;
        right: -13px;
        top: -13px;
        z-index: 1;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        background-color: rgba(95, 184, 120, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#5FB878\\0/'};
        *background-color: #5FB878;
        font-family: 'iconfont';
        color: $white-color;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #5FB878;
        }
    }

    &-cancel {
        position: absolute;
        right: -44px;
        top: -13px;
        z-index: 1;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        background-color: rgba(255, 87, 34, 0.6);
        // 只兼容ie8的样式，在属性值后面加\0/
        background-color: #{'#FF5722\\0/'};
        *background-color: #FF5722;
        font-family: 'iconfont';
        color: $white-color;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #FF5722;
        }
    }

    thead {
        background-color: $lighter-color;
    }

    th {
        text-align: left;
        font-weight: normal;
    }

    th,
    td {
        // 不能加position，否则背景色将遮住边框，可以用background-clip:padding-box;解决，不过ie8及以下不支持background-clip
        // position: relative;
        line-height: 28px;
        padding: 0;
        border: 1px solid $light-color;
        font-size: 14px;

        .song-table-cell {
            position: relative;
            // ie6下内容会溢出到旁边的td
            _width: 100%;
            height: 28px;
            _height: 40px;
            // 定义了100%宽度后，ie6无法通过负边距延伸宽度
            // margin: -5px #{-$pd15};
            padding: 5px + 1px $pd15 + 1px;
            // ie7及以下需要触发hasLayout，否则子元素定位的top将不准确
            *zoom: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .song-form-radio,
            .song-form-checkbox {
                margin-top: 0;
            }

            // 文本溢出详情弹框
            .song-table-tip-icon {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                width: 24px;
                line-height: $input-height;
                background-color: $white-color;
                border-left: 1px solid $light-color;
                font-family: 'iconfont';
                font-size: 16px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $lighter-color;
                }
            }
        }

        &.song-table-editting {
            background-color: $white-color;

            .song-table-cell {
                overflow: visible;
                white-space: normal;
                padding: 0 $pd15;
                height: auto;
                border: 1px solid $link-color;
                box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);
            }

            .song-form-select,
            .song-table-checkboxs {
                // 解决ie7及以下浏览器div内部的高度多出两像素的问题
                width: auto;
                margin: 0 -#{$pd15};
            }

            .song-input {
                padding-left: 0;
                border: 0;
            }

            // 复选框编辑容器
            .song-table-checkboxs {
                line-height: normal;
                padding: $pd10 0 $pd10 $pd10;
            }

            .song-form-select {
                .song-input {
                    padding-left: $pd15;
                }
            }

        }

        &.song-table-col-radio,
        &.song-table-col-checkbox {
            .song-table-cell {
                line-height: normal;
            }

            .song-form-radio,
            .song-form-checkbox {
                margin-top: 5px;
            }

        }
    }

    tr:last-child td {
        border-bottom: none;
    }

    tr {

        th:first-child,
        td:first-child {
            border-left: none;
        }
    }

    &-static {

        th,
        td {
            padding: 5px $pd15;
        }

        tr:last-child td {
            border-bottom: 1px solid $light-color;
        }

        tr {

            th:first-child,
            td:first-child {
                border-left: 1px solid $light-color;
            }
        }
    }
}