.jy-tab {
    &-header {
        position: relative;
        background-color: #ffffff;
        overflow: hidden;

    }

    &-header-scroll {
        position: relative;
        overflow: hidden;
        height: 41px;
    }

    &-content {
        margin-top: 10px;
    }

    &-titles {
        height: 40px;
        _height: 41px;
        font-size: 0;
        white-space: nowrap;
        transition: left 0.2s;
        border-bottom: 1px solid $border-color;
    }


    &-title {
        position: relative;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        min-width: 50px;
        height: 38px;
        line-height: 38px;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid transparent;
        cursor: pointer;
        user-select: none;

        &-active {
            border-color: $border-color;
            border-bottom-color: #ffffff;
            top: 1px;
        }
    }

    &-item {
        display: none;
        position: relative;
        height: 100%;

        &-active {
            display: block;
        }
    }

    &-scroll {
        .jy-tab-header {
            padding-left: 40px;
            padding-right: 40px;
        }

        .jy-tab-titles {
            position: absolute;
            left: 0;
        }
    }

    &-prev,
    &-next {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-family: 'jy-iconfont';
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        user-select: none;
    }

    &-next {
        left: auto;
        right: 0;
    }

    &-close {
        display: inline-block;
        margin-left: 5px;
        font-family: 'jy-iconfont';

        &:hover {
            position: relative;
            top: -1px;
            width: 14px;
            height: 14px;
            line-height: 14px;
            border-radius: 50%;
            background-color: $danger-color;
            font-size: 12px;
            color: #ffffff;
        }
    }
}

.jy-tab-line {
    .jy-tab-header-scroll {
        height: 40px;
    }

    .jy-tab-titles {
        border-bottom: 0;
    }

    .jy-tab-title {
        line-height: 37px;
        height: 37px;
        border: 0;
        border-bottom: 3px solid transparent;
    }

    .jy-tab-title-active {
        top: 0;
        border-bottom: 3px solid $link-color;
    }

    .jy-tab-prev,
    .jy-tab-next {
        line-height: 37px;
    }
}