.song-table {
    position: relative;
    // ie7及以下table-layout:fixed将使table宽度伸展为100%
    // table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: $white-color;
    color: $color-666;

    thead {
        background-color: $lighter-color;
    }

    th {
        text-align: left;
        font-weight: normal;
    }

    th,
    td {
        // 不能加position，否则背景色将遮住边框，可以用background-clip:padding-box;解决，不过ie8及以下不支持background-clip
        // position: relative;
        line-height: 28px;
        padding: 0;
        border: 1px solid $light-color;
        font-size: 14px;
    }

    // i6以下浏览器不支持child选择器
    tr {

        &:first-child {

            td,
            th {
                border-top: 0;

                // ie7及以下浏览器中，设置了position（编辑中的td将设置position）的td边框布局将发生改变
                &.song-table-editing {
                    *border-bottom: 0;
                }
            }
        }

        // ie8及以下浏览器不支持last-child
        // &:last-child td {
        //     border-bottom: 0;
        // }

        th:first-child,
        td:first-child {
            border-left: 0;
        }
    }

    tbody tr {
        height: 40px;
    }

    &-cell {
        position: relative;
        border: 1px solid transparent;
        overflow: hidden;
        // ie6下内容会溢出到旁边的td
        _width: 100%;
        // ie7及以下需要触发hasLayout，否则子元素定位的top将不准确
        *zoom: 1;

        // 文本溢出详情弹框
        .song-table-detail-icon {
            position: absolute;
            top: -1px;
            right: 0;
            height: 40px;
            width: 24px;
            line-height: $input-height;
            background-color: $white-color;
            border-left: 1px solid $light-color;
            font-family: 'iconfont';
            font-size: 16px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $lighter-color;
            }
        }

        // 单元格内容
        &-content {
            padding: 5px $pd15;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            *zoom: 1;
            _width: 100%;
        }

        // 单元格编辑内容
        &-edit {
            width: auto;
            *zoom: 1;
        }
    }

    &-col-radio,
    &-col-checkbox {
        .song-table-cell-content {
            text-overflow: inherit;
            line-height: normal;
        }

        .song-form-radio,
        .song-form-checkbox {
            margin-top: 5px;
            margin-right: 0;
        }

    }

    // 居中对齐
    &-align-left {

        .song-table & {
            text-align: left;

            .song-table-cell {
                margin-right: auto;
            }
        }
    }

    // 居中对齐
    &-align-center {

        .song-table & {
            text-align: center;

            .song-table-cell {
                margin: auto;
            }
        }
    }

    // 居中对齐
    &-align-right {

        .song-table & {
            text-align: right;

            .song-table-cell {
                margin-left: auto;
            }
        }
    }

    &-view {
        position: relative;
        width: 100%;
        border: 1px solid $light-color;
        background-color: $white-color;
    }

    &-header-main {
        position: relative;
        *zoom: 1;
    }

    &-header {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: $lighter-color;
    }

    &-main {
        // ie7必须加position:relative，否则滚动条拖到无效
        position: relative;
        min-height: 100px;
        overflow: auto;
        transform: translate3d(0, 0, 0);
    }

    &-empty {
        height: 100px;
        line-height: 100px;
        color: $color-999;
        text-align: center;
    }

    &-toolbar {
        position: relative;
        z-index: 2;
        padding: $pd10 $pd15;
        padding-right: 130px;
        border-bottom: 1px solid $light-color;
        background-color: $white-color;
    }

    &-tool-self {
        position: absolute;
        right: $pd15;
        top: 50%;
        margin-top: -13px;
    }

    &-tool {
        position: relative;
        padding: 4px;
        margin-left: $pd10;
        border: 1px solid $gray-color;
        cursor: pointer;
        user-select: none;

        &:hover {
            border-color: $color-999;
        }
    }

    &-exports,
    &-filter {
        position: absolute;
        right: -1px;
        top: 100%;
        margin-top: 5px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 2px;
        white-space: nowrap;
        font-size: 14px;

        li {
            padding: $pd10 $pd15;

            &:hover {
                background-color: $lighter-color;
            }

            .song-form-checkbox {
                padding-top: $pd10;
                padding-bottom: $pd10;
                margin: 0;

                i {
                    margin-top: $pd10;
                }
            }
        }
    }

    &-filter {
        li {
            padding: 0;
        }

        .song-form-checkbox {
            display: block;
            padding-left: 25px + $pd15;
            padding-right: $pd15;

            i {
                left: $pd15;
            }
        }
    }

    &-pager {
        // text-align: center;
        border-top: 1px solid $light-color;

        .song-pager {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: $pd10 0;

            .song-pager-num,
            .song-pager-dot,
            .song-pager-prev,
            .song-pager-next {
                border: none;
            }

            .song-pager-dot {
                padding: 0;
            }
        }
    }

    &-hover {
        background-color: $lighter-color;
    }

    &-detail {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        line-height: 22px;
        padding: 9px $pd15;
        margin-right: 13px;
        background-color: $white-color;
        border: 1px solid $light-color;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);

        &-close {
            position: absolute;
            right: -13px;
            top: -13px;
            width: 26px;
            height: 26px;
            line-height: 26px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            // 只兼容ie8的样式，在属性值后面加\0/
            background-color: #{'#000000\\0/'};
            *background-color: #000000;
            font-family: 'iconfont';
            color: $white-color;
            text-align: center;
            cursor: pointer;
        }
    }

    &-header-main-l {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border-right: 1px solid $light-color;
        box-shadow: -1px 0 8px rgba(0, 0, 0, .08);

        th:last-child,
        td:last-child {
            border-right: 0;
        }
    }

    &-header-main-r {
        position: absolute;
        top: 0;
        z-index: 1;
        border-left: 1px solid $light-color;
        box-shadow: -1px 0 8px rgba(0, 0, 0, .08);

        .song-table-mend {
            margin-right: -17px;
        }
    }

    &-fixed-header {
        position: relative;
        *zoom: 1;
    }

    &-fixed-main {
        position: relative;
        border-bottom: 1px solid $light-color;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }

    &-mend {
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 100%;
        background-color: $lighter-color;
    }

    // 不可选中
    &-unselect {
        cursor: pointer;
        user-select: none;
    }

    // 列宽调整
    &-col-resize {
        cursor: e-resize;
        cursor: col-resize;
        user-select: none;

        th,
        td {
            cursor: e-resize;
            cursor: col-resize;
            user-select: none;
        }
    }

    // 调整线
    &-resize-line {
        position: absolute;
        z-index: 999999;
        border-left: 1px solid $light-color;
    }

    // 排序
    &-sort {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 28px;
        margin-left: 5px;
        vertical-align: middle;

        &-up {
            border-bottom: 5px solid #b2b2b2;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-top: 6px;
            cursor: pointer;

            &.song-table-sort-hover,
            &.song-table-sort-confirm {
                border-bottom-color: $color-666;
            }
        }

        &-down {
            border-top: 5px solid #b2b2b2;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-top: 2px;
            cursor: pointer;

            &.song-table-sort-hover,
            &.song-table-sort-confirm {
                border-top-color: $color-666;
            }
        }
    }

    // 编辑中
    & &-editing {
        // 解决ie7及以下浏览器select下拉框被覆盖的问题
        // position: relative;
        // z-index: 1;
        // ie7及以下浏览器添加position:relative后，td的边框布局将变化，右上角的边框将多出一像素
        // *border-top: 0;
        // *border-right: 0;
        background-color: $white-color;

        .song-table-cell {
            z-index: 1;
            overflow: visible;
            white-space: normal;
            border-color: $link-color;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);
        }

        // 复选框编辑容器
        .song-table-checkboxs {
            padding-bottom: $pd10;
            text-align: left;

            .song-form-checkbox {
                margin-top: $pd10;
                margin-left: $pd10;
                margin-right: 0;
            }
        }

        .song-input {
            border-color: transparent;
            *border-left: 0;
            *border-right: 0;
        }
    }

    & &-error {
        .song-table-cell {
            border-color: $danger-color;
        }
    }

    &-tip {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 30px;
        padding: 10px 20px;
        font-size: 12px;
        background-color: $white-color;
        border: 1px solid $light-color;
        border-radius: 2px;
        box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    }

    &-icon {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 5px;
        font-family: 'iconfont';
        font-size: 30px;
        vertical-align: middle;
        color: $danger-color;
    }

    &-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 36px;
        animation-name: song-rotate;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        .song-table-icon {
            margin-right: 0;
            font-size: 36px;
            color: #999;
        }
    }
}