.song-tab {
    &-header {
        position: relative;
        background-color: #ffffff;
        overflow: hidden;

    }

    &-header-scroll {
        position: relative;
        overflow: hidden;
        height: 41px;
    }

    &-titles {
        height: 40px;
        font-size: 0;
        white-space: nowrap;
        transition: left 0.2s;
        border-bottom: 1px solid $border-color;
    }


    &-title {
        position: relative;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        min-width: 65px;
        line-height: 38px;
        font-size: 14px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid transparent;
        cursor: pointer;
        user-select: none;

        &-active {
            border-color: $border-color;
            border-bottom: 2px solid #ffffff;
        }
    }

    &-item {
        display: none;
        padding: 20px 0;

        &-active {
            display: block;
        }
    }

    &-scroll {
        .song-tab-header {
            padding-left: 40px;
            padding-right: 40px;
        }

        .song-tab-titles {
            position: absolute;
            left: 0;
        }
    }

    &-prev,
    &-next {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-family: 'iconfont';
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        user-select: none;
    }

    &-next {
        left: auto;
        right: 0;
    }
}

.song-tab-line {
    .song-tab-title {
        border: 0;
    }
    .song-tab-title-active {
        line-height: 35px;
        color: $link-color;
        border-bottom: 3px solid $link-color;
    }
}