.song-table {
    width: 100%;
    // ie7及以下table-layout:fixed将使table宽度伸展为100%
    table-layout: fixed;
    // border-collapse: collapse;
    border-spacing: 0;
    color: $color-666;

    &-view {
        width: 100%;
        border: 1px solid $light-color;
    }

    &-main {
        // ie7必须加position:relative，否则滚动条拖到无效
        position: relative;
        width: 100%;
        min-width: 100%;
        overflow: auto;
        border-top: 1px solid $light-color;
        border-bottom: 1px solid $light-color;
    }

    &-toolbar {
        position: relative;
        z-index: 1;
        padding: $pd10 $pd15;
        padding-right: 130px;
    }

    &-tool-self {
        position: absolute;
        right: $pd15;
        top: 50%;
        margin-top: -13px;
    }

    &-tool {
        position: relative;
        padding: 4px;
        margin-left: $pd10;
        border: 1px solid $gray-color;
        cursor: pointer;
        user-select: none;

        &:hover {
            border-color: $color-999;
        }
    }

    &-filter {
        position: absolute;
        right: -1px;
        top: 100%;
        margin-top: 5px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 2px;
        white-space: nowrap;
        font-size: 14px;

        li {
            padding: $pd10 $pd15;

            &:hover {
                background-color: $lighter-color;
            }

            .song-form-checkbox {
                margin: 0;
            }
        }
    }

    &-pager {
        text-align: center;

        .song-pager {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: $pd10 0;

            .song-pager-num,
            .song-pager-dot,
            .song-pager-prev,
            .song-pager-next {
                border: none;
            }

            .song-pager-dot {
                padding: 0;
            }
        }
    }

    thead {
        background-color: $lighter-color;
    }

    th {
        text-align: left;
        font-weight: normal;
    }

    th,
    td {
        // 不能加position，否则背景色将遮住边框，可以用background-clip:padding-box;解决，不过ie8及以下不支持background-clip
        // position: relative;
        line-height: 28px;
        padding: 5px $pd15;
        border-right: 1px solid $light-color;
        border-bottom: 1px solid $light-color;
        font-size: 14px;

        .cell {
            position: relative;
            min-height: 28px;
            margin: -5px #{-$pd15};
            padding: 5px $pd15;
            // ie7及以下需要触发hasLayout，否则子元素定位的top将不准确
            *zoom: 1;

            .song-form-radio,
            .song-form-checkbox {
                margin-top: 0;
            }

            .song-input {
                border: transparent;
            }

            .song-table-checkboxs {
                padding-left: $pd10;
                background-color: $white-color;
            }
        }

        &.song-table-editting {
            padding: 0;
            border: 1px solid $link-color;
            box-shadow: 1px 1px 20px rgba(0,0,0,.15);

            *+html & {
                padding: 1px;
            }

            .cell {
                margin: 0;
                padding: 0;
            }
        }
    }
}