$prefix: song;
$blue-color: #1E9FFF;
$white-color: #ffffff;
$gray-color: #d2d2d2;
$success-color: #009688;
$link-color: #5FB878;
$warn-color: #FFB800;
$danger-color: #FF5722;
$light-color: #eeeeee;
$title-color: #333333;
$text-color: #666666;
$holder-color: #999999;
$disabled-color: #eeeeee;
$disabled-text-color: #c2c2c2;
$pd10: 10px;
$pd15: 15px;
$pd20: 20px;
$pd30: 30px;
$btn-height: 38px;
$btn-lg-height: 44px;
$btn-sm-height: 30px;
$btn-xs-height: 22px;
$btn-font-size: 14px;
$btn-lg-font-size: 16px;
$btn-sm-font-size: 12px;
$btn-xs-font-size: 12px;
$input-height: $btn-height;