@import 'theme';
@import 'reset';
@import 'form';
@import 'dialog';
@import 'pager';
@import 'table';
@import 'date';
@import 'menu-nav';
@import 'tree';
@import 'transfer';
@import 'tab';

@font-face {
    font-family: 'iconfont';
    /* Project id 2505561 */
    src: url('./font/iconfont.eot');
    /* IE9 */
    src: url('./font/iconfont.eot#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./font/iconfont.woff2') format('woff2'),
        url('./font/iconfont.woff') format('woff'),
        url('./font/iconfont.ttf') format('truetype');
}

.jy-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.jy-display {
    &-block {
        display: block;
    }

    &-inline-block {
        // ie7及以下正常内联元素可用inline-block
        display: inline-block;
        // ie7及以下div必须display:inline，否则div将占一行
        *display: inline;
        // ie7及以下div使用zoom:1触发layout
        *zoom: 1;
    }

    &-inline {
        display: inline;
    }
}

// 栅格
.jy-row {
    font-size: 0;

    // ie7默认content-box模式，ie6默认为border-box，且ie6,ie7不支持box-sizing。
    @for $i from 1 through 12 {
        .jy-col-#{$i} {
            width: $i/12*100%;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            font-size: 14px;
        }

        // 列偏移
        .jy-col-offset-#{$i} {
            margin-left: $i/12*100%;
        }
    }
}

// 清除浮动
.jy-clear {
    // ie6只能用zoom来清除内部浮动，ie7可以用oveflow或者zoom来清除
    *zoom: 1;
    clear: both;

    // ie8不支持::的模式
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.jy-nowrap {
    white-space: nowrap;
}

// 分割线
hr {
    height: 1px;
    // !important解决ie8及以下默认样式问题
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $border-color;
    // ie7及以下使用color可以更改hr颜色
}

// 字体颜色
.jy-color {

    &-text {
        color: $color-666;
    }

    &-title {
        color: $color-333;
    }

    &-holder {
        color: $color-999;
    }

    &-gray {
        color: $gray-color;
    }

    &-blue {
        color: $blue-color;
    }

    &-light {
        color: $light-color;
    }

    &-link {
        color: $link-color;
    }

    &-success {
        color: $success-color;
    }

    &-warn {
        color: $warn-color;
    }

    &-danger {
        color: $danger-color;
    }
}

// 背景颜色
.jy-bgcolor {
    &-blue {
        background-color: $blue-color;
    }

    &-light {
        background-color: $light-color;
    }

    &-link {
        background-color: $link-color;
    }

    &-success {
        background-color: $success-color;
    }

    &-warn {
        background-color: $warn-color;
    }

    &-danger {
        background-color: $danger-color;
    }
}

// border颜色
.jy-border {
    border: 1px solid $border-color;

    &-blue {
        border-color: $blue-color;
    }

    &-light {
        border-color: $light-color;
    }

    &-success {
        border-color: $success-color;
    }

    &-warn {
        border-color: $warn-color;
    }

    &-danger {
        border: 1px solid $danger-color;
    }
}

.jy-content {
    position: relative;
    height: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    overflow: auto;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

iframe {
    padding: 10px;
}