@import 'theme';
@import 'reset';
@import 'form';
@import 'dialog';

@font-face {
    font-family: "iconfont";
    /* Project id 2505561 */
    src: url('//at.alicdn.com/t/font_2505561_qywoee4zn9.woff2?t=1619766530509') format('woff2'),
        url('//at.alicdn.com/t/font_2505561_qywoee4zn9.woff?t=1619766530509') format('woff'),
        url('//at.alicdn.com/t/font_2505561_qywoee4zn9.ttf?t=1619766530509') format('truetype');
}

.song-icon {
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.song-display {
    &-block {
        display: block;
    }

    &-inline-block {
        display: inline-block;
    }

    &-inline {
        display: inline;
    }
}

// 栅格
.song-row {
    // ie6只能用zoom来清除内部浮动，ie7可以用oveflow或者zoom来清除
    *zoom: 1;

    // ie8不支持::的模式
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    // 默认ie7content-box模式，ie6默认为border-box，且ie6,ie7不支持box-sizing。
    // 所以不要给col添加padding或者border，否则宽度将不准确
    @for $i from 1 through 11 {
        .song-col-#{$i} {
            width: $i/12*100%;
            float: left;
        }

        // 列偏移
        .song-col-offset-#{$i} {
            margin-left: $i/12*100%;
        }
    }
}

// 分割线
hr {
    // !important解决ie8以下默认样式问题
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $light-color;
    // 解决ie7以下始终有一根黑线的问题
    color: #fff;
}

// 字体颜色
.song-color {

    &-text {
        color: $text-color;
    }

    &-title {
        color: $title-color;
    }

    &-holder {
        color: $holder-color;
    }

    &-gray {
        color: $gray-color;
    }

    &-blue {
        color: $blue-color;
    }

    &-light {
        color: $light-color;
    }

    &-link {
        color: $link-color;
    }

    &-success {
        color: $success-color;
    }

    &-warn {
        color: $warn-color;
    }

    &-danger {
        color: $danger-color;
    }
}

// 背景颜色
.song-bgcolor {
    &-blue {
        background-color: $blue-color;
    }

    &-light {
        background-color: $light-color;
    }

    &-link {
        background-color: $link-color;
    }

    &-success {
        background-color: $success-color;
    }

    &-warn {
        background-color: $warn-color;
    }

    &-danger {
        background-color: $danger-color;
    }
}

// border颜色
.song-border {
    border: 1px solid $light-color;

    &-blue {
        border-color: $blue-color;
    }

    &-light {
        border-color: $light-color;
    }

    &-success {
        border-color: $success-color;
    }

    &-warn {
        border-color: $warn-color;
    }

    &-danger {
        border: 1px solid $danger-color;
    }
}