body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
  font-size: 14px;
  color: #666666;
}

ul,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button:focus {
  outline: none !important;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #666666;
}

.song-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  background-color: #009688;
  border: 1px solid #009688;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
  width: auto;
  overflow: visible;
}

.song-btn:hover {
  opacity: 0.85;
}

.song-btn:active {
  opacity: 1;
}

.song-btn-lg {
  height: 44px;
  line-height: 42px;
  font-size: 16px;
}

.song-btn-sm {
  height: 30px;
  line-height: 28px;
  font-size: 12px;
}

.song-btn-xs {
  height: 22px;
  line-height: 20px;
  font-size: 12px;
}

.song-btn-primary {
  background-color: #ffffff;
  border-color: #d2d2d2;
  color: #666666;
}

.song-btn-primary:hover {
  border-color: #009688;
}

.song-btn-normal {
  background-color: #1E9FFF;
  border-color: #1E9FFF;
  color: #ffffff;
}

.song-btn-success {
  background-color: #009688;
  border-color: #009688;
  color: #ffffff;
}

.song-btn-warn {
  background-color: #FFB800;
  border-color: #FFB800;
  color: #ffffff;
}

.song-btn-disabled {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #c2c2c2;
}

.song-btn-disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

.song-btn-danger {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #ffffff;
}

.song-form-item {
  position: relative;
  clear: both;
  margin-bottom: 15px;
  *zoom: 1;
}

.song-form-item:before, .song-form-item:after {
  content: "";
  display: block;
  clear: both;
}

.song-form-label {
  float: left;
  width: 80px;
  margin: 0 15px;
  padding: 9px 0;
  line-height: 20px;
  color: #333333;
  text-align: right;
}

.song-input-block {
  position: relative;
  margin-left: 110px;
  *margin-left: 0;
  *zoom: 1;
}

.song-input-inline {
  position: relative;
  float: left;
  width: 190px;
}

.song-inline {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
}

.song-input {
  display: block;
  width: 100%;
  height: 38px;
  *height: 36px !important;
  _height: 38px;
  line-height: 36px;
  padding: 0 0 0 15px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *padding-left: 0 !important;
  _padding-left: 15px;
}

.song-textarea {
  display: block;
  width: 100%;
  height: auto;
  line-height: 20px;
  min-height: 100px;
  _height: 100px;
  padding: 6px 10px;
  *padding: 0 !important;
  _padding: 6px 10px;
  resize: vertical;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.song-form-switch {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 22px;
  line-height: 22px;
  margin-top: 8px;
  padding-right: 5px;
  padding-left: 25px;
  border: 1px solid #d2d2d2;
  border-radius: 22px;
  font-size: 12px;
  color: #d2d2d2;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-form-switch i {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d2d2d2;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.song-form-switch.song-switch-disabled {
  border-color: #eeeeee;
  color: #c2c2c2;
  cursor: not-allowed;
}

.song-form-switch.song-switch-disabled i {
  background-color: #eeeeee;
}

.song-form-switch.song-switch-checked {
  padding-left: 5px;
  padding-right: 25px;
  background-color: #5FB878;
  border-color: #eeeeee;
  color: #ffffff;
  text-align: left;
}

.song-form-switch.song-switch-checked i {
  left: 100%;
  margin-left: -21px;
  background-color: #ffffff;
}

.song-form-checkbox {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 18px;
  margin-top: 10px;
  margin-right: 15px;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-form-checkbox i {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  text-align: center;
  line-height: 16px;
  font-family: 'iconfont';
  font-size: 14px;
  color: #ffffff;
}

.song-form-checkbox.song-checkbox-disabled {
  color: #c2c2c2;
  cursor: not-allowed;
}

.song-form-checkbox.song-checkbox-disabled i {
  border-color: #eeeeee;
}

.song-form-checkbox.song-checkbox-checked i {
  background-color: #5FB878;
  border-color: #5FB878;
}

.song-form-radio {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 15px;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-form-radio i {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'iconfont';
  font-size: 22px;
  color: #d2d2d2;
}

.song-form-radio.song-radio-disabled {
  color: #c2c2c2;
  cursor: not-allowed;
}

.song-form-radio.song-radio-disabled i {
  color: #eeeeee;
}

.song-form-radio.song-radio-checked i {
  color: #5FB878;
}

.song-form-select {
  position: relative;
  width: 100%;
}

.song-form-select.song-select-disabled .song-select-title .song-input {
  cursor: not-allowed;
  color: #c2c2c2;
}

.song-form-select .song-select-title {
  position: relative;
}

.song-form-select .song-select-title .song-input {
  cursor: pointer;
}

.song-form-select .song-select-title i {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -6px;
  font-size: 12px;
  line-height: 12px;
  font-family: 'iconfont';
}

.song-form-select .song-select-dl {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  margin-top: 4px;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.song-form-select .song-select-dl dd {
  line-height: 36px;
  padding-left: 15px;
  cursor: pointer;
}

.song-form-select .song-select-dl dd:hover {
  background-color: #eeeeee;
}

.song-form-select .song-select-dl dd.song-select-active {
  background-color: #5FB878;
  color: #ffffff;
}

.song-field {
  padding: 0;
  border: 1px solid #eeeeee;
}

.song-field.song-field-title {
  border-style: none;
  border-top-style: solid;
}

.song-field legend {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 300;
  color: #333333;
}

.song-field .song-field-box {
  padding: 15px;
}

.song-layer-shadow {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  filter: alpha(opacity: 40);
}

.song-layer-shadow.song-layer-absolute {
  position: absolute;
}

.song-layer {
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
}

.song-layer.song-layer-absolute {
  position: absolute;
}

.song-layer.song-layer-alert {
  width: 300px;
}

.song-layer.song-layer-confirm {
  width: 300px;
}

.song-layer.song-layer-msg {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #000000\0/;
  *background-color: #000000;
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.song-layer.song-layer-msg-with-icon {
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.song-layer .song-layer-title {
  position: relative;
  line-height: 16px;
  padding: 17px 95px 17px 20px;
  font-size: 16px;
  color: #333333;
  background-color: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
}

.song-layer .song-layer-content {
  position: relative;
  line-height: 24px;
  padding: 20px;
  overflow: auto;
  *zoom: 1;
}

.song-layer.song-layer-msg .song-layer-content {
  padding: 10px 20px;
}

.song-layer.song-layer-msg .song-layer-icon {
  top: 6px;
}

.song-layer .song-layer-footer {
  padding: 10px 20px 10px 0;
  text-align: center;
}

.song-layer .song-layer-footer .song-btn {
  margin-left: 20px;
}

.song-layer .song-layer-op {
  position: absolute;
  right: 0px;
  top: 16px;
  white-space: nowrap;
}

.song-layer .song-layer-op i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  margin-right: 15px;
  color: #333333;
  cursor: pointer;
}

.song-layer .song-layer-op i:hover {
  color: #999999;
}

.song-layer .song-layer-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  line-height: 30px;
  font-family: 'iconfont';
  font-size: 30px;
}

.song-pager {
  line-height: 30px;
}

.song-pager .song-pager-count {
  float: left;
  margin-left: 10px;
}

.song-pager .song-pager-prev {
  margin-left: 10px;
  font-family: 'iconfont';
}

.song-pager .song-pager-next {
  font-family: 'iconfont';
}

.song-pager .song-pager-prev,
.song-pager .song-pager-next,
.song-pager .song-pager-num,
.song-pager .song-pager-dot,
.song-pager .song-pager-limits {
  float: left;
  padding: 0 15px;
  border: 1px solid #eeeeee;
}

.song-pager .song-pager-prev-disabled,
.song-pager .song-pager-next-disabled {
  color: #d2d2d2;
  cursor: not-allowed;
}

.song-pager .song-pager-prev,
.song-pager .song-pager-num,
.song-pager .song-pager-dot {
  border-right: none;
}

.song-pager .song-pager-now {
  color: #ffffff;
  background-color: #009688;
  border-color: #009688;
}

.song-pager .song-pager-limits {
  height: 32px;
  height: auto\0/;
  *height: auto;
  padding: 0;
  margin-top: 5px\0/;
  *margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  outline: none;
  vertical-align: middle;
}

.song-pager .song-pager-nums {
  float: left;
}

.song-pager .song-pager-jump {
  float: left;
  margin-left: 10px;
  color: #999999;
}

.song-pager .song-pager-jump input {
  width: 30px;
  _width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #eeeeee;
  vertical-align: middle;
  outline: none;
}

.song-pager .song-pager-jump button {
  width: 40px;
  height: 30px;
  padding: 0;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  vertical-align: middle;
  cursor: pointer;
}

.song-pager-small {
  line-height: 26px;
}

.song-pager-small .song-pager-count {
  float: left;
  margin-left: 10px;
}

.song-pager-small .song-pager-prev {
  margin-left: 10px;
  font-family: 'iconfont';
}

.song-pager-small .song-pager-next {
  font-family: 'iconfont';
}

.song-pager-small .song-pager-prev,
.song-pager-small .song-pager-next,
.song-pager-small .song-pager-num,
.song-pager-small .song-pager-dot,
.song-pager-small .song-pager-limits {
  float: left;
  padding: 0 13px;
  border: 1px solid #eeeeee;
}

.song-pager-small .song-pager-prev-disabled,
.song-pager-small .song-pager-next-disabled {
  color: #d2d2d2;
  cursor: not-allowed;
}

.song-pager-small .song-pager-prev,
.song-pager-small .song-pager-num,
.song-pager-small .song-pager-dot {
  border-right: none;
}

.song-pager-small .song-pager-now {
  color: #ffffff;
  background-color: #009688;
  border-color: #009688;
}

.song-pager-small .song-pager-limits {
  height: 28px;
  height: auto\0/;
  *height: auto;
  padding: 0;
  margin-top: 3px\0/;
  *margin-top: 3px;
  margin-left: 10px;
  font-size: 14px;
  outline: none;
  vertical-align: middle;
}

.song-pager-small .song-pager-nums {
  float: left;
}

.song-pager-small .song-pager-jump {
  float: left;
  margin-left: 10px;
  color: #999999;
}

.song-pager-small .song-pager-jump input {
  width: 26px;
  _width: 50px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #eeeeee;
  vertical-align: middle;
  outline: none;
}

.song-pager-small .song-pager-jump button {
  width: 40px;
  height: 26px;
  padding: 0;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  vertical-align: middle;
  cursor: pointer;
}

.song-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  color: #666666;
}

.song-table-view {
  width: 100%;
  border: 1px solid #eeeeee;
}

.song-table-body {
  position: relative;
  width: 100%;
  min-width: 100%;
  overflow: auto;
}

.song-table-toolbar {
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  border-right: 1px solid #eeeeee;
}

.song-table-tool-self {
  float: right;
}

.song-table-tool {
  position: relative;
  padding: 4px;
  margin-left: 10px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-table-tool:hover {
  border-color: #999999;
}

.song-table-filter {
  position: absolute;
  right: -1px;
  top: 100%;
  margin-top: 5px;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 14px;
}

.song-table-filter li {
  padding: 10px 15px;
}

.song-table-filter li:hover {
  background-color: #f6f6f6;
}

.song-table-filter li .song-form-checkbox {
  margin: 0;
}

.song-table-pager {
  text-align: center;
}

.song-table-pager .song-pager {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 0;
}

.song-table-pager .song-pager .song-pager-num,
.song-table-pager .song-pager .song-pager-dot,
.song-table-pager .song-pager .song-pager-prev,
.song-table-pager .song-pager .song-pager-next {
  border: none;
}

.song-table-pager .song-pager .song-pager-dot {
  padding: 0;
}

.song-table thead {
  background-color: #f6f6f6;
}

.song-table th {
  text-align: left;
  font-weight: normal;
}

.song-table th,
.song-table td {
  line-height: 28px;
  padding: 5px 15px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
}

.song-table th .cell,
.song-table td .cell {
  position: relative;
  min-height: 28px;
  margin: -5px -15px;
  padding: 5px 15px;
  *zoom: 1;
}

.song-table th .cell .song-form-radio,
.song-table th .cell .song-form-checkbox,
.song-table td .cell .song-form-radio,
.song-table td .cell .song-form-checkbox {
  margin-top: 0;
}

.song-table th .cell .song-input,
.song-table td .cell .song-input {
  border: transparent;
}

.song-table th .cell .song-table-checkboxs,
.song-table td .cell .song-table-checkboxs {
  padding-left: 10px;
  background-color: #ffffff;
}

.song-table th.song-table-editting,
.song-table td.song-table-editting {
  padding: 0;
  border: 1px solid #5FB878;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}

* + html .song-table th.song-table-editting, * + html
.song-table td.song-table-editting {
  padding: 1px;
}

.song-table th.song-table-editting .cell,
.song-table td.song-table-editting .cell {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'iconfont';
  /* Project id 2505561 */
  src: url("//at.alicdn.com/t/font_2505561_kz83krz4mt.eot?t=1620370376489");
  /* IE9 */
  src: url("//at.alicdn.com/t/font_2505561_kz83krz4mt.eot?t=1620370376489#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_2505561_kz83krz4mt.woff2?t=1620370376489") format("woff2"), url("//at.alicdn.com/t/font_2505561_kz83krz4mt.woff?t=1620370376489") format("woff"), url("//at.alicdn.com/t/font_2505561_kz83krz4mt.ttf?t=1620370376489") format("truetype");
}

.song-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.song-display-block {
  display: block;
}

.song-display-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.song-display-inline {
  display: inline;
}

.song-row {
  *zoom: 1;
}

.song-row:before, .song-row:after {
  content: "";
  display: block;
  clear: both;
}

.song-row .song-col-1 {
  width: 8.33333%;
  float: left;
}

.song-row .song-col-offset-1 {
  margin-left: 8.33333%;
}

.song-row .song-col-2 {
  width: 16.66667%;
  float: left;
}

.song-row .song-col-offset-2 {
  margin-left: 16.66667%;
}

.song-row .song-col-3 {
  width: 25%;
  float: left;
}

.song-row .song-col-offset-3 {
  margin-left: 25%;
}

.song-row .song-col-4 {
  width: 33.33333%;
  float: left;
}

.song-row .song-col-offset-4 {
  margin-left: 33.33333%;
}

.song-row .song-col-5 {
  width: 41.66667%;
  float: left;
}

.song-row .song-col-offset-5 {
  margin-left: 41.66667%;
}

.song-row .song-col-6 {
  width: 50%;
  float: left;
}

.song-row .song-col-offset-6 {
  margin-left: 50%;
}

.song-row .song-col-7 {
  width: 58.33333%;
  float: left;
}

.song-row .song-col-offset-7 {
  margin-left: 58.33333%;
}

.song-row .song-col-8 {
  width: 66.66667%;
  float: left;
}

.song-row .song-col-offset-8 {
  margin-left: 66.66667%;
}

.song-row .song-col-9 {
  width: 75%;
  float: left;
}

.song-row .song-col-offset-9 {
  margin-left: 75%;
}

.song-row .song-col-10 {
  width: 83.33333%;
  float: left;
}

.song-row .song-col-offset-10 {
  margin-left: 83.33333%;
}

.song-row .song-col-11 {
  width: 91.66667%;
  float: left;
}

.song-row .song-col-offset-11 {
  margin-left: 91.66667%;
}

hr {
  height: 1px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #eeeeee;
}

.song-color-text {
  color: #666666;
}

.song-color-title {
  color: #333333;
}

.song-color-holder {
  color: #999999;
}

.song-color-gray {
  color: #d2d2d2;
}

.song-color-blue {
  color: #1E9FFF;
}

.song-color-light {
  color: #eeeeee;
}

.song-color-link {
  color: #5FB878;
}

.song-color-success {
  color: #009688;
}

.song-color-warn {
  color: #FFB800;
}

.song-color-danger {
  color: #FF5722;
}

.song-bgcolor-blue {
  background-color: #1E9FFF;
}

.song-bgcolor-light {
  background-color: #eeeeee;
}

.song-bgcolor-link {
  background-color: #5FB878;
}

.song-bgcolor-success {
  background-color: #009688;
}

.song-bgcolor-warn {
  background-color: #FFB800;
}

.song-bgcolor-danger {
  background-color: #FF5722;
}

.song-border {
  border: 1px solid #eeeeee;
}

.song-border-blue {
  border-color: #1E9FFF;
}

.song-border-light {
  border-color: #eeeeee;
}

.song-border-success {
  border-color: #009688;
}

.song-border-warn {
  border-color: #FFB800;
}

.song-border-danger {
  border: 1px solid #FF5722;
}
/*# sourceMappingURL=song-ui.css.map */